parameters:
	level: max
	paths:
		- ../../etc
		- ../../src
		- ../../tests
	excludePaths:
		- ../../tests/apps/broadcast/
		- ../../tests/apps/broadcast-classmap/
	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
				- Composer\IO\NullIO
